{% extends "base.html" %}
{% block content %}
<div class="content-section mb-0">
	<form method="POST" action="" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<fieldset class="form-group mb-2">
			<legend class="border-bottom mb-4">Account Info</legend>
			<div class="row">
				<div class="form-group col-sm-6 col-lg-5 col-xl-4">
					{{ form.username.label(class="form-control-label mb-1") }}
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid p-1") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg p-1", type="username") }}
					{% endif %}
				</div>
				<div class="form-group col-sm-6 col-lg-5 col-xl-4">
					{{ form.email.label(class="form-control-label mb-1") }}
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid p-1") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-lg p-1", type="email") }}
					{% endif %}
				</div>
			</div>
		</fieldset>
		<div class="form-group">
			<a class="btn btn-secondary" href="{{ url_for('main.pages') }}">Back</a>
			{{ form.submit(class="btn btn-primary") }}
		</div>
  </form>
</div>
{% endblock content %}
