<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/main.css') }}">
	<script src="{{ url_for('static', filename='libraries/p5.js') }}"></script>
	<script src="{{ url_for('static', filename='libraries/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='libraries/bootstrap.js') }}"></script>

	{% if title %}
		<title>{{ title }} page</title>
	{% else %}
		<title>Virtual Board</title>
	{% endif %}
</head>
<body>
	<main class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</main>
</body>
</html>
