{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<form class="container" method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group mb-0 row">
				<legend class="border-bottom mb-4">Log In</legend>
				<div class="row">
					<div class="form-group col-sm-11 col-lg-11 col-xl-10">
						{{ form.email.label(class="form-control-label mb-1") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg p-1", type="email") }}
						{% endif %}
					</div>
					<div class="col-xl-12"></div>
					<div class="form-group col-sm-11 col-lg-11 col-xl-10 mb-2">
						{{ form.password.label(class="form-control-label mb-1") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg p-1", type="password") }}
						{% endif %}
					</div>
				</div>
			</fieldset>
			<div class="form-group mt-1 ml-2 row">
				{{ form.remember(class="form-check-input mr-2 mt-1", style="margin-top: 0px; position: static;") }}
				{{ form.remember.label(class="form-check-label") }}
			</div>
			<div class="form-group border-top pt-3 mb-0 row">
				{{ form.submit(class="btn btn-primary") }}
				<small class="text-dark ml-2 pt-2">
					<a href="{{ url_for('users.register') }}">Register?</a>
				</small>
			</div>
			<div class="form-group row">
				<small class="text-dark ml-0 pt-1">
					<a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
				</small>
			</div>
		</form>
	</div>
{% endblock content %}
