<!DOCTYPE html>
<html>
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/main.css') }}">
		<script src="{{ url_for('static', filename='libraries/p5.js') }}"></script>
		<script src="{{ url_for('static', filename='libraries/cycle.js') }}"></script>
		<script src="{{ url_for('static', filename='libraries/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='libraries/bootstrap.js') }}"></script>

		<title>Virtual Board</title>
</head>
<body class="mt-0 position-fixed overflow-hidden" onresize="resizeWin()">
	<button></button>
	<script>pageID = "{{ page_id | safe }}"</script>
	<script>pagesURL = "{{ url_for('main.pages') | safe }}"</script>
	<script>accountURL = "{{ url_for('users.account', user_id=current_user.id) | safe }}"</script>
	<script>logoutURL = "{{ url_for('users.logout') | safe }}"</script>
	<script type="text/javascript" src="{{ url_for('static', filename='java_script/setup.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='java_script/pages.js') }}"></script>
</body>
</html>

