{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<form class="container" method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group mb-0 row">
				<legend class="border-bottom mb-4">Add User</legend>
				<div class="row">
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.username.label(class="form-control-label mb-1") }}
						{% if form.username.errors %}
							{{ form.username(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control form-control-lg p-1", type="username") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.email.label(class="form-control-label mb-1") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg p-1", type="email") }}
						{% endif %}
					</div>
					<div class="col-xl-4"></div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.password.label(class="form-control-label mb-1") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg p-1", type="password") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.confirm_password.label(class="form-control-label mb-1") }}
						{% if form.confirm_password.errors %}
							{{ form.confirm_password(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.confirm_password(class="form-control form-control-lg p-1", type="password") }}
						{% endif %}
					</div>
				</div>
			</fieldset>
			<div class="form-group border-top pt-3 row">
				{{ form.submit(class="btn btn-primary") }}
				<small class="text-dark ml-2 pt-2">
				  <a href="{{ url_for('users.login') }}">Login?</a>
				</small>
			</div>
		</form>
	</div>
{% endblock content %}
