{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<form class="" method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group mb-0">
				<legend class="border-bottom mb-4">Reset Password</legend>
				<div class="row container">
					<div class="form-group col-sm-9 col-lg-8 col-xl-7 row">
						{{ form.email.label(class="form-control-label mb-1") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg p-1", type="email") }}
						{% endif %}
					</div>
				</div>
			</fieldset>
			<div class="form-group border-top pt-3">
				{{ form.submit(class="btn btn-primary") }}
				<small class="text-dark ml-2 pt-2">
				  <a href="{{ url_for('users.login') }}">Login?</a>
				</small>
			</div>
		</form>
	</div>
{% endblock content %}
